
# Python
*.pyc
__pycache__/

# Django
db.sqlite3

# Virtual environments
venv/

# VS Code
.vscode/

# Angular
angular/.angular

# Environment variables
.env

# Archivos temporales y backups
*~
*.un~

# frontend, archivos pesados
node_modules/

# Angular
/frontend/angular/.angular/